<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            <p>{{ request.user }}</p>
            <a href="">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </header>
    <main class="main">
        <h2 class="main__title">To Do List:</h2>
        <a href="{% url 'task-create' %}">Add task</a>
        <table>
            <tr>
                <th>Item</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <th>{{ task.title }}</th>
                <th><a href="{% url 'task' task.id %}">View</a></th>
                <th><a href="{% url 'task-update' task.id %}">Edit</a></th>
                <th><a href="{% url 'task-delete' task.id %}">Delete</a></th>
            </tr>
            {% empty %}
                <h3 class="main_subtitle">No items in list</h3>
            {% endfor %}
        </table>
    </main>
</body>
</html>